body {
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(-225deg, #fffeff 0%, #d7fffe 100%);
}

h4 {
  text-transform: capitalize;
}

footer {
  color: purple;
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.weather-app {
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  border: 3px ridge purple;
  border-radius: 20px;
  color: rgb(53, 0, 53);
  display: block;
  margin: 30px auto;
  max-width: 800px;
  padding: 20px;
}

#search-engine {
  padding: 0 0 20px;
}

.button-search-current,
.search-input,
.submit-button {
  border-radius: 8px;
  border: 2px groove purple;
  color: purple;
}

.search-input {
  padding-right: 70px;
}

.submit-button {
}

:hover.button-search-current,
:hover.submit-button {
  border-radius: 8px;
  border: 2px groove purple;
  background: rgb(190, 161, 190);
  color: white;
  transition: ease-in-out;
}

.city-header {
  font-size: 40px;
  margin: 0;
  padding-top: 10px;
}

.last-updated-time {
  font-size: 20px;
  padding: 20px;
}

#current-time {
  font-weight: bold;
}

.current-weather {
  line-height: 25px;
}

#description {
  font-weight: bold;
}

#current-temp {
  font-size: 50px;
  font-weight: 500;
}

#units {
  position: relative;
  left: -5px;
  top: -25px;
}

.current-weather .active {
  color: rgb(53, 0, 53);
}

.current-weather .active:hover {
  cursor: default;
  text-decoration: none;
}

.current-conditions {
  line-height: 35px;
  padding-top: 50px;
}

.forecast-header {
  padding: 15px 0 0 0;
  font-weight: bold;
}

.forecast {
  text-align: center;
  padding-top: 10px;
}

.source-link {
  color: purple;
}
